<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Medic | Medical HTML Template</title>

  
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Slick Carousel -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/plugins/slick/slick.css') }}">
  <!-- <link rel="stylesheet" href="../static/plugins/slick/slick.css"> -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/plugins/slick/slick-theme.css') }}">
  <!-- <link rel="stylesheet" href="../static/plugins/slick/slick-theme.css"> -->
  <!-- FancyBox -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/plugins/fancybox/jquery.fancybox.min.css') }}">
  <!-- <link rel="stylesheet" href="../static/plugins/fancybox/jquery.fancybox.min.css"> -->
  
  <!-- Stylesheets -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/css/style.css') }}">
  <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>


<body>
  <div class="page-wrapper">
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
    <!-- Preloader -->

  

<!--header top-->
<div class="header-top">
      <div class="container clearfix">
            <div class="top-left">
                  <!-- <h6>Opening Hours : Saturday to Tuesday - 8am to 10pm</h6> -->
            </div>
            <div class="top-right">
                  <ul class="social-links">
                        <li>
                              <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                              </a>
                        </li>
                  </ul>
            </div>
      </div>
</div>
<!--header top-->

<!--Header Upper-->
<section class="header-uper">
      <div class="container clearfix">
            <div class="logo">
                  <figure>
                        <a href="index.html">
                              <img src="../static/blog/logo.png" alt="">
                        </a>
                  </figure>
            </div>
            <div class="right-side">
                  <ul class="contact-info">
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-envelope-o"></i>
                              </div>
                              <strong>Email</strong>
                              <br>
                              <a href="#">
                                    <span>mani.dhawan90@gmail.com</span>
                                    <span>neejos@gmail.com</span>
                              </a>
                        </li>
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-phone"></i>
                              </div>
                              <strong>Call Now</strong>
                              <br>
                              <span>+ (4400) - 123 - 4567</span>
                        </li>
                  </ul>
                  <div class="link-btn">
                        <a href="#" class="btn-style-one">SignOut</a>
                  </div>
            </div>
      </div>
</section>
<!--Header Upper-->


<!--Main Header-->
<nav class="navbar navbar-default">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                        <li class="active">
                          <a href="profile">Profile</a>
                        </li>
                        <li>
                              <a href="about">About</a>
                        </li>
                        <li>
                              <a href="insight">Insight</a>
                        </li>
                        <li>
                              <a href="fitness1">Fitness Tutorials</a>
                        </li>
                        <li>
                              <a href="remedies">Home Remedies</a>
                        </li>
                        <li>
                              <a href="Chat">Chat</a>
                        </li>
                        <li>
                              <a href="blog">Blog</a>
                        </li>
                        <li>
                              <a href="contact">Contact</a>
                        </li>
                       
                        <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#">Action</a>
                                    </li>
                                    <li>
                                          <a href="#">Another action</a>
                                    </li>
                                    <li>
                                          <a href="#">Something else here</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">Separated link</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">One more separated link</a>
                                    </li>
                              </ul>
                        </li> -->
                  </ul>
            </div>
            <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
</nav>
<!--End Main Header -->

<!--Page Title-->
<section class="page-title text-center" style="background-image:url(../images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>Blog</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="fitness1">Fitness Tutorials &nbsp;/</a>
                </li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Contact Section -->
<section class="blog-section style-four section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="left-side">
                    <div class="item-holder">
                        <!-- <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../static/images/blog/lung_pos1.jpg" alt=""></a>
                            </figure>
                        </div> -->
                        <div class="content-text">
                            <a><h1>4 Yoga Poses for Healthy Lungs </h1></a>
                                <p>Breathing in yoga takes high priority. According to yoga, breath or ‘prana’ is the life force or the primary energy of life. It is the basic life force that controls our life.Pranayama or yogic breathing involves abdominal, thoracic and clavicular breathing which helps in gaining control of your breath, correct poor breathing habits and increase oxygen intake. The standing asanas can strengthen the back muscles and increase oxygenation and lung capacity. Here are four yoga poses you can try to improve the health and functioning of your lungs.</p>
                            <!-- <span>By Donult Trum / 02 January 2018</span> -->
                            <h6>Trikonasana / Triangle Pose</h6>
                            <img src="../static/images/blog/lung_pos1.jpg" style ="width:500px;height:400px" alt=""></a>
                            
                            <p>Stand with your feet about 4 feet apart. Interlace your fingers behind your back (or use a strap), and straighten your arms. Fold forward, lifting your arms up toward the ceiling. Keep the weight evenly distributed in your feet, with the legs engaged. Breathe deeply, inviting your chest to open and lungs to clear. This inversion can be wonderful for draining mild chest congestion (excess kapha dosha). With each exhalation, loosen up and invite the day’s tension to release.</p>
                            <!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="item-holder">
                        <!-- <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../static/images/blog/lung_pos2.jpg" alt=""></a>
                            </figure>
                        </div> -->
                        <div class="content-text">
                            <a><h6>Matsyasana / Fish Pose</h6></a>
                            <img src="../static/images/blog/lung_pos2.jpg" style ="width:700px;height:400px" alt=""></a>
                            <!-- <span>By James Anderson / 08 January 2018</span> -->
                            <p>From Wide-Legged Forward Bend, place your left hand on a block at a comfortable height, in line with your sternum. Twist to your right, ensuring an even spiral from the tailbone through the back of the neck. Direct 3-6 deep breaths into your side ribs—inviting the intercostal muscles to loosen and the lungs to open. This is an excellent pose for removing tension and congestion from the chest! Carefully unwind and repeat on the other side. </p>
                            <!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="item-holder">
                        <!-- <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/7.jpg" alt=""></a>
                            </figure>
                        </div> -->
                        <div class="content-text">
                            <a><h6>Knee-Down Squat</h6></a>
                            <!-- <span>By Garry Moe / 12 January 2018</span> -->
                            <img src="../static/images/blog/lung_pos3.jpg" style ="width:700px;height:500px" alt=""></a>

                            <p>From Tabletop, curl your toes under, and bring your inner feet to touch. Spread your knees wide, sit back on your heels, and raise your arms overhead. Interlace your fingers and turn your palms toward the sky. Soften your shoulders, tuck your chin, and pull your belly in. Breathe evenly into your side rib cage, gently stretching your intercostal muscles and airing out the lungs. Hold for 6–10 deep breaths. This simple pose tends to be quite challenging as heat and sensation build in the feet and legs. Try to soften in order to receive the enhanced warmth, circulation, and alertness. Mindfully release back to Tabletop.</p>
                            <!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="item-holder">
                        <!-- <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div> -->
                        <div class="content-text">
                            <a><h6>Balasana (Child’s Pose, variation)</h6></a>
                            <!-- <span>By Luis Morris / 25 January 2018</span> -->
                            <img src="../static/images/blog/lung_pos4.jpg" style ="width:700px;height:500px"alt=""></a>
                            <p>From hands and knees, lower your hips onto your heels, and press back to Child’s Pose with straight arms. Walk your hands to the left until you feel a good stretch along your right torso. Gently breathe into your right side ribs to loosen and stretch the side torso. Hold for 6-10 soothing breath cycles. Invite your entire body to soften and relax. Repeat  on the other side.</p>
                            <!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="single-blog.html"><h6>Dolphin Pose</h6></a>
                             <span>By Luis Morris / 25 January 2018</span> -->
                            <!-- <img src="../static/images/blog/immun_pos5.jpg" alt=""></a> -->
                            <!-- <p>This warming inversion helps drain excess lung congestion (kapha dosha) while developing arm strength. With your forearms grounded, spine straight, and legs lengthening down through the heels, close your eyes and take 3-6 deep, full-body breaths. Keep a tissue handy to clear out mucus from the lungs and sinuses after you come out of the pose. Explore the enhanced openness of the breath! (Note: avoid during sinus infection.)</p> --> -->
                            <!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> 
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="single-blog.html"><h6>Parivrtta Janu Sirsasana (Revolved Head-of-the-Knee Pose)</h6></a>
                            <span>By Luis Morris / 25 January 2018</span> -->
                            <!-- <img src="../static/images/blog/immun_pos6.jpg" alt=""></a>
                            <p>Keep a strap handy. Sit with your legs extended in front of you. Bend your right knee and lower it to the floor, placing the sole of your right foot on your left inner thigh. Bring your left hand to your right knee and your right hand to the floor by your right hip, twisting to the right. Elongate both sides of your torso, then extend your right arm alongside your right ear and move into a side bend, reaching for your left foot (or use a strap wrapped around your foot). Take the inside of your left foot with your left hand, and turn your chest toward the ceiling. Breathe fully into your left rib cage for 3–6 breaths. Then, carefully release your left foot and sit up. Repeat on the other side. This twisting side bend is a challenging pose—great for opening the chest, stretching the legs, and enhancing pranic circulation. </p>
                             <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                    <!-- <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="single-blog.html"><h6>Purvottanasana (Upward Plank Pose)</h6></a> -->
                            <!-- <span>By Luis Morris / 25 January 2018</span> 
                            <img src="../static/images/blog/immun_pos7.jpg" alt=""></a>
                            <p>Purvottanasana is an excellent pose for opening your chest and freeing your lungs! From seated Staff Pose (Dandasana), place your hands on the floor behind your hips with fingers pointing toward your seat. Lift your hips, and press the balls of your feet into the floor. If comfortable, drop your head back. Take 3-6 deep breaths, allowing your front ribs to gently flare as your body warms up from this strength-building pose. This pose helps counter the tendency to round the spine during daily tasks, like typing, sitting, and driving. Though it’s a challenging pose, the afterglow tends to promote deep relaxation and ease.</p>
                             <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="single-blog.html"><h6>Supta Virasana (Reclining Hero Pose, supported)</h6></a>
                            <span>By Luis Morris / 25 January 2018</span> -->
                            <!-- <img src="../static/images/blog/immun_pos8.jpg" alt=""></a>
                            <p>Stress can wreak havoc on your immune system, so soothing the nervous system and calming the mind is key to overall health. Place a folded blanket at the top of a bolster. Sit between your heels with the bolster behind you, and lie back on it, head resting on the blanket. Make sure to stay warm—cover up with a blanket before melting into this rejuvenating pose. Cover your eyes. Turn your palms up. Hold for 1-3 minutes, doing a gentle but deep full yogic breath to promote good circulation. Gently release.</p>
                             <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> 
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="single-blog.html"><h6></h6></a>
                            <span>By Luis Morris / 25 January 2018</span> -->
                            <!-- <img src="../static/images/blog/immun_pos4.jpg" alt=""></a>
                            <p></p>
                            <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div>
                        </div>
                    </div>  -->
                    <!-- <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="single-blog.html"><h6></h6></a>
                            <span>By Luis Morris / 25 January 2018</span> -->
                            <!-- <img src="../static/images/blog/immun_pos4.jpg" alt=""></a>
                            <p></p>
                            <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div>
                        </div>
                    </div> -->
                <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="right-side">
                    <div class="text-title">
                        <h6>Search</h6>
                    </div>
                    <div class="search-box">
                        <form method="post" action="index.html">
                            <input type="search" name="search" placeholder="Enter to Search" required="">
                        </form>
                    </div>
                    <div class="categorise-menu">
                        <div class="text-title">
                            <h6>Categories</h6>
                        </div>
                        <ul class="categorise-list">
                            <li><a href="#">Alumni <span>(20)</span></a></li>
                            <li><a href="#">Psycology <span>(4)</span></a></li>
                            <li><a href="#">Sonogram <span>(2)</span></a></li>
                            <li><a href="#">x-ray <span>(9)</span></a></li>
                            <li><a href="#">Dental <span>(2)</span></a></li>
                        </ul>                           
                    </div>
                    <div class="tag-list">
                        <div class="text-title">
                            <h6>Tags</h6>
                        </div>
                        <a href="#">ray</a><a href="#">dental</a>
                        <a href="#">Clean</a><a href="#">hospitality</a>
                        <a href="#">Dormamu</a><a href="#">Medical</a><a href="#">hospitality</a>
                    </div>
                </div>
            </div>
        </div>                
        <div class="styled-pagination">
            <ul>
                <li><a class="prev" href="#"><span class="fa fa-angle-left" aria-hidden="true"></span></a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a class="next" href="#"><span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
            </ul>
        </div> -->                 
    </div>
</section>
<!-- End Contact Section -->

<!--footer-main-->
<footer class="footer-main">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="about-widget">
            <div class="footer-logo">
              <figure>
                <a href="index.html">
                  <img src="../images/logo-2.png" alt="">
                </a>
              </figure>
            </div>
            <p>Come join our community to make this world a more stronger place both Mentally and Physically.</p>
            <!-- <ul class="location-link">
              <li class="item">
                <i class="fa fa-map-marker"></i>
                <p>Modamba, NY 80021, United States</p>
              </li> -->
              <!-- <li class="item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <a href="#">
                  <p>Support@medic.com</p>
                </a>
              </li>
              <li class="item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>(88017) +123 4567</p>
              </li>
            </ul> --> 
            <ul class="list-inline social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h6>Services</h6>
          <ul class="menu-link">
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>FITNESS TUTORIALS</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>HOME REMEDIES</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>CURRENT CORONA SITUATION</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>CHAT WITH CORONA SURVIVORS</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Access to Corona Hit game</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="social-links">
            <h6>Creators</h6>
            <ul>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="../static/images/blog/himani.jpg" alt="post-thumb" style="width: 80px;height: 80px;">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="https://www.linkedin.com/in/himani-dhawan/">Connect with Himani Dhawan</a></h4>
                    <p>Hope is the thing with feathers that perches in the soul and sings the tune without words and never stops at all.</p>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="../static/images/blog/profile.jpg" style="width: 80px;height: 80px;" alt="post-thumb">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="https://www.linkedin.com/in/neethu-john-4643331b8/">Connect with Neethu John</a>
                    </h4>
                    <p>It is not the strongest of the species that survives,Nor the most intelligent ones.It is the one that is most adaptable to the change.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <!-- <p>&copy; Copyright 2018. All Rights Reserved by -->
          <!-- <a href="index.html">Medic</a>
        </p> -->
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="about">About</a>
        </li>
        <li>
          <a href="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--End footer-main-->

</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>

<script src="../plugins/jquery.js"></script>
<script src="../plugins/bootstrap.min.js"></script>
<script src="../plugins/bootstrap-select.min.js"></script>
<!-- Slick Slider -->
<script src="../plugins/slick/slick.min.js"></script>
<!-- FancyBox -->
<script src="../plugins/fancybox/jquery.fancybox.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="../plugins/google-map/gmap.js"></script>

<script src="../plugins/validate.js"></script>
<script src="../plugins/wow.js"></script>
<script src="../plugins/jquery-ui.js"></script>
<script src="../plugins/timePicker.js"></script>
<script src="js/script.js"></script>
</body>

</html>