<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Medic | Medical HTML Template</title>

  
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Slick Carousel -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/plugins/slick/slick.css') }}">
  <!-- <link rel="stylesheet" href="../static/plugins/slick/slick.css"> -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/plugins/slick/slick-theme.css') }}">
  <!-- <link rel="stylesheet" href="../static/plugins/slick/slick-theme.css"> -->
  <!-- FancyBox -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/plugins/fancybox/jquery.fancybox.min.css') }}">
  <!-- <link rel="stylesheet" href="../static/plugins/fancybox/jquery.fancybox.min.css"> -->
  
  <!-- Stylesheets -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/css/style.css') }}">
  <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>


<body>
  <div class="page-wrapper">
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
    <!-- Preloader -->

  

<!--header top-->
<div class="header-top">
      <div class="container clearfix">
            <div class="top-left">
                  <!-- <h6>Opening Hours : Saturday to Tuesday - 8am to 10pm</h6> -->
            </div>
            <div class="top-right">
                  <ul class="social-links">
                        <li>
                              <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                              </a>
                        </li>
                  </ul>
            </div>
      </div>
</div>
<!--header top-->

<!--Header Upper-->
<section class="header-uper">
      <div class="container clearfix">
            <div class="logo">
                  <figure>
                        <a href="index.html">
                              <img src="../static/images/blog/logo.png" alt="">
                        </a>
                  </figure>
            </div>
            <div class="right-side">
                  <ul class="contact-info">
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-envelope-o"></i>
                              </div>
                              <strong>Email</strong>
                              <br>
                              <a href="#">
                                    <span>mani.dhawan90@gmail.com</span>
                                    <span>neejos@gmail.com</span>
                              </a>
                        </li>
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-phone"></i>
                              </div>
                              <strong>Call Now</strong>
                              <br>
                              <span>+ (4400) - 123 - 4567</span>
                        </li>
                  </ul>
                  <div class="link-btn">
                        <a href="appointment" class="btn-style-one">SignOut</a>
                  </div>
            </div>
      </div>
</section>
<!--Header Upper-->


<!--Main Header-->
<nav class="navbar navbar-default">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                        <li class="active">
                          <a href="profile">Profile</a>
                        </li>
                        <li>
                              <a href="about">About</a>
                        </li>
                        <li>
                              <a href="insight">Insight</a>
                        </li>
                        <li>
                              <a href="fitness1">Fitness Tutorials</a>
                        </li>
                        <li>
                              <a href="remedies">Home Remedies</a>
                        </li>
                        <li>
                              <a href="Chat">Chat</a>
                        </li>
                        <li>
                              <a href="blog">Blog</a>
                        </li>
                        <li>
                              <a href="contact">Contact</a>
                        </li>
                       
                        <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#">Action</a>
                                    </li>
                                    <li>
                                          <a href="#">Another action</a>
                                    </li>
                                    <li>
                                          <a href="#">Something else here</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">Separated link</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">One more separated link</a>
                                    </li>
                              </ul>
                        </li> -->
                  </ul>
            </div>
            <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
</nav>
<!--End Main Header -->

<!--Page Title-->
<section class="page-title text-center" style="background-image:url(../images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>Yoga as Heart Booster</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="fitness1">Fitness Tutorials &nbsp;/</a>
                </li>
                <li>Yoga</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Contact Section -->
<section class="blog-section style-four section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="left-side">
                    <div class="item-holder">
                        <div class="image-box">
                            <!-- <figure>
                                <a href="single-blog.html"><img src="../static/images/blog/immun_pos1.jpg" alt=""></a>
                            </figure> -->
                        </div>
                        <div class="content-text">
                            <a>
                            <h1>Yoga Poses for Heart Health </h1>
                        </a>
                                <p>8 Yoga asanas help relieve stress, reduce hypertension and improve cholesterol for better cardiovascular health.</p>
                                <p>Stepping onto the mat for a little yoga is one of the best things you can do for your heart. The latest research finds yoga enhances cardiovascular health in a number of ways, from calming the nervous system and reducing disease-causing inflammation to taming hypertension and boosting beneficial HDL cholesterol. It also improves circulation and lung function, and may even reduce heart disease risk as effectively as brisk walking and cycling. That’s good news for yogis of all levels, including men, who now account for nearly one in five people doing yoga. These relaxing yoga poses are particularly good for heart health.</p>
                            <!-- <span>By Donult Trum / 02 January 2018</span> -->
                            <h6>EASY POSE (SUKHASANA)</h6> 
                            <img src="../static/images/blog/heart-pose_3.jpg" style ="widows: 500px; height:500px;" alt=""></a>
                            
                            <p>This simple seated posture can be done at the beginning and end of your practice as a mini meditation. Sit in a comfortable cross-legged position, with your right shin in front of your left. If your hips are tight, sit on a folded blanket or bolster to make it easier to keep your back straight and your shoulders relaxed and down. Rest your hands, palms facing up, on your knees, close your eyes, and focus on inhaling to a count of two and exhaling to a count of four. When your mind wanders—and it will—just refocus on your breath.</p>

                             <p>Suggested time: 3 to 5 breaths</p>
                            <!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="item-holder">
                        <!-- <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../static/images/blog/immun_pos2.jpg" alt=""></a>
                            </figure> 
                        </div> -->
                        <div class="content-text">
                            <a><h6> MOUNTAIN POSE (TADASANA)</h6></a>
                            <img src="../static/images/blog/heart-pose_4.jpg"  style ="widows: 500px; height:500px;" alt=""></a>
                            <!-- <span>By James Anderson / 08 January 2018</span> -->
                            <p>This basic pose calms the mind, sharpens focus and improves circulation. Stand with your feet parallel and hip-width apart. Firm your thighs to lift your kneecaps (don't lock the knees). Lift your toes to activate your arches and inner ankles. Release your toes back down, keeping your feet active. Lengthen your tailbone down and engage your abdomen to protect your lower back. Keep your shoulders back and down while widening your collarbones and lifting your sternum. Imagine a straight line running from the center of your ankles all the way up through the crown of your head. Keep your eyes soft and breathe deeply.</p>
                            <p>Suggested time: 3 to 5 breaths</p><!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="item-holder">
                        <!-- <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/7.jpg" alt=""></a>
                            </figure>
                        </div> -->
                        <div class="content-text">
                            <a><h6>STANDING FORWARD BEND (UTTANASANA)</h6></a>
                            <!-- <span>By Garry Moe / 12 January 2018</span> -->
                            <img src="../static/images/blog/heart-pose_5.jpg" style ="widows: 500px; height:500px;"  alt=""></a>

                            <p>You can do this move without props, but supporting your head on blocks (or even a chair) enhances this relaxing pose's calming benefits. Standing in Mountain Pose with your hands on your hips, inhale, and then exhale as you bend from the hips and fold forward, keeping your front torso long. Rest the crown of your head on the blocks and grasp your ankles with your hands. Keep your knees slightly bent if your hamstrings are tight. If you're prone to back problems, move your feet farther apart, keeping them parallel.</p>
                            <p>Suggested time: 3 to 5 breaths</p>
                            <!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="item-holder">
                        <!-- <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div> -->
                        <div class="content-text">
                            <a href="single-blog.html"><h6>BIG-TOE POSE (PADANGUSTHASANA)</h6></a>
                            <!-- <span>By Luis Morris / 25 January 2018</span> -->
                            <img src="../static/images/blog/heart-pose_6.jpg" style ="widows: 500px; height:500px;" alt=""></a>
                            <p>From hands and knees, lower your hips onto your heels, and press back to Child’s Pose with straight arms. Walk your hands to the left until you feel a good stretch along your right torso. Gently breathe into your right side ribs to loosen and stretch the side torso. Hold for 6-10 soothing breath cycles. Invite your entire body to soften and relax. Repeat  on the other side.This is an easy asana to relieve stress and chill out. Standing in Mountain Pose, inhale and exhale as you bend from the hips and grasp your big toes with the thumb, forefinger and middle finger of each hand. Inhale as you straighten your back, then exhale and fold forward, keeping your front torso long. Keep your knees slightly bent if your hamstrings are tight. </p>
                            <p>Suggested time: 3 to 5 breaths</p><!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="item-holder">
                        <!-- <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div> -->
                        <div class="content-text">
                            <a href="single-blog.html"><h6>DOWNWARD DOG (ADHO MUKHA SVANASANA)</h6></a>
                            <!-- <span>By Luis Morris / 25 January 2018</span> -->
                            <img src="../static/images/blog/heart-pose_7.jpg" style ="widows: 500px; height:500px;" alt=""></a>
                            <p>Resting your head on a bolster, block or folded blanket enhances this asana's calming benefits. Begin on your hands and knees, with your hands shoulder-width apart slightly in front of your shoulders, and your knees directly below your hips. Spread your palms, with your index fingers parallel. Exhale, tuck your toes and straighten your legs as you lift your hips to create a modified inverted "V." Rest your head on the bolster to keep it aligned with your arms. Straighten your legs (but don't lock your knees) and press your heels toward the floor. Tilt your pelvis to create length in your lower back. Keep the knees slightly bent if your hamstrings are tight.</p>
                            <p>Suggested time: Hold for 5 breaths </p><!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="item-holder">
                        <!-- <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div> -->
                        <div class="content-text">
                            <a href="single-blog.html"><h6>HEAD-TO-KNEE FORWARD BEND (JANU SIRSASANA)</h6></a>
                            <!-- <span>By Luis Morris / 25 January 2018</span> -->
                            <img src="../static/images/blog/heart-pose_8.jpg" style ="widows: 500px; height:500px;" alt=""></a>
                            <p>This seated forward bend gently stretches your hamstrings and groin. Sitting on the floor with both legs extended in front of you, inhale as you bend your left knee to bring left sole alongside your right inner thigh (avoid pressing your foot against your knee). Keep your right foot flexed. Exhale, keeping your back long and flat, bend from your hips and fold forward until you feel a gentle stretch in your right hamstring. Rest your hands on either side of your extended leg, or if you're more limber, grasp your right foot with your hands. Repeat on the other side.</p>
                            <p>Suggested time: Hold for 3 to 5 breaths on each side</p><!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="item-holder">
                        <!-- <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div> -->
                        <div class="content-text">
                            <a href="single-blog.html"><h6>BRIDGE POSE (SETU BANDHA SAVANGASANA)</h6></a>
                            <!-- <span>By Luis Morris / 25 January 2018</span> -->
                            <img src="../static/images/blog/heart-pose_9.jpg" style ="widows: 500px; height:500px;" alt=""></a>
                            <p>Lie on your back, arms at your sides and palms down. Bend your knees, bringing your heels as close to your sitting bones as possible. Place your feet hip-width apart and parallel. Exhale, pressing down through your feet and hands while lifting your hips until your thighs are parallel to the floor. Firm your buttocks and tilt your tailbone up to lengthen your lower back. To deepen the pose, roll your shoulders under and clasp your hands as you press your sternum toward your chin, and broaden your shoulder blades. If your shoulders are tight, extend your arms, palms down alongside your body.</p>
                            <p>Suggested time: Hold for 3 to 5 breaths, coming out of the pose on an exhalation</p>
                            <!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="item-holder">
                        <!-- <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div> -->
                        <div class="content-text">
                            <a href="single-blog.html"><h6>RECLINING HAND-TO-BIG TOE POSE (SUPTA PADANGUSTHASANA)</h6></a>
                            <!-- <span>By Luis Morris / 25 January 2018</span> -->
                            <img src="../static/images/blog/heart-pose_10.jpg" style ="widows: 500px; height:500px;" alt=""></a>
                            <p>This asana gently stretches tight hips and hamstrings that can lead to back pain and the stress that comes with it. Lie on your back with your knees straight, feet together and legs extended. Inhale, bend the left knee and loop a strap or belt around your left foot. Exhale and straighten your left leg. Keep your head, neck and shoulders relaxed on the floor. Flex your feet and extend through each heel as you breathe deeply. Keep pressing your right leg into your mat. Don't lock your knees. Repeat on the other side.</p>
                            <p>Suggested time: Hold for 3 to 5 breaths on each side</p><!-- <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="single-blog.html"><h6></h6></a>
                            <span>By Luis Morris / 25 January 2018</span> -->
                            <!-- <img src="../static/images/blog/immun_pos4.jpg" alt=""></a>
                            <p></p>
                            <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div>
                        </div>
                    </div>  -->
                    <!-- <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="../images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="single-blog.html"><h6></h6></a>
                            <span>By Luis Morris / 25 January 2018</span> -->
                            <!-- <img src="../static/images/blog/immun_pos4.jpg" alt=""></a>
                            <p></p>
                            <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="right-side">
                    <!-- <div class="text-title">
                        <h6>Search</h6>
                    </div>
                    <div class="search-box">
                        <form method="post" action="index.html">
                            <input type="search" name="search" placeholder="Enter to Search" required="">
                        </form>
                    </div>
                    <div class="categorise-menu">
                        <div class="text-title">
                            <h6>Categories</h6>
                        </div>
                        <ul class="categorise-list">
                            <li><a href="#">Alumni <span>(20)</span></a></li>
                            <li><a href="#">Psycology <span>(4)</span></a></li>
                            <li><a href="#">Sonogram <span>(2)</span></a></li>
                            <li><a href="#">x-ray <span>(9)</span></a></li>
                            <li><a href="#">Dental <span>(2)</span></a></li>
                        </ul>                           
                    </div> -->
                    <div class="tag-list">
                        <div class="text-title">
                            <h6>Tags</h6>
                        </div>
                        <a href="fitness1">Fitness</a>
                        <a href="fitness2">Immunity</a>
                        <a href="fitness3">Lungs</a>
                        <a href="fitness4">Heart</a>
                        <!-- <a href="#">Dormamu</a>
                        <a href="#">Medical</a><a href="#">hospitality</a>  -->
                    </div>
                </div>
            </div>
        </div>                
        <!-- <div class="styled-pagination">
            <ul>
                <li><a class="prev" href="#"><span class="fa fa-angle-left" aria-hidden="true"></span></a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a class="next" href="#"><span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
            </ul>
        </div>                  -->
    </div> 
</section>
<!-- End Contact Section -->

<!--footer-main-->
<footer class="footer-main">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="about-widget">
            <div class="footer-logo">
              <figure>
                <a href="index.html">
                  <img src="../images/logo-2.png" alt="">
                </a>
              </figure>
            </div>
            <p>Come join our community to make this world a more stronger place both Mentally and Physically.</p>
            <!-- <ul class="location-link">
              <li class="item">
                <i class="fa fa-map-marker"></i>
                <p>Modamba, NY 80021, United States</p>
              </li> -->
              <!-- <li class="item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <a href="#">
                  <p>Support@medic.com</p>
                </a>
              </li>
              <li class="item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>(88017) +123 4567</p>
              </li>
            </ul> --> 
            <ul class="list-inline social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h6>Services</h6>
          <ul class="menu-link">
            <li>
              <a href="fitness1">
                <i class="fa fa-angle-right" aria-hidden="true"></i>FITNESS TUTORIALS</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>HOME REMEDIES</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>CURRENT CORONA SITUATION</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>CHAT WITH CORONA SURVIVORS</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Access to Corona Hit game</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="social-links">
            <h6>Creators</h6>
            <ul>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="../static/images/blog/himani.jpg" alt="post-thumb" style="width: 80px;height: 80px;">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="https://www.linkedin.com/in/himani-dhawan/">Connect with Himani Dhawan</a></h4>
                    <p>Hope is the thing with feathers that perches in the soul and sings the tune without words and never stops at all.</p>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="../static/images/blog/profile.jpg" style="width: 80px;height: 80px;" alt="post-thumb">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="https://www.linkedin.com/in/neethu-john-4643331b8/">Connect with Neethu John</a>
                    </h4>
                    <p>It is not the strongest of the species that survives,Nor the most intelligent ones.It is the one that is most adaptable to the change.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <!-- <p>&copy; Copyright 2018. All Rights Reserved by -->
          <!-- <a href="index.html">Medic</a>
        </p> -->
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="about">About</a>
        </li>
        <li>
          <a href="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--End footer-main-->

</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>

<script src="../plugins/jquery.js"></script>
<script src="../plugins/bootstrap.min.js"></script>
<script src="../plugins/bootstrap-select.min.js"></script>
<!-- Slick Slider -->
<script src="../plugins/slick/slick.min.js"></script>
<!-- FancyBox -->
<script src="../plugins/fancybox/jquery.fancybox.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="../plugins/google-map/gmap.js"></script>

<script src="../plugins/validate.js"></script>
<script src="../plugins/wow.js"></script>
<script src="../plugins/jquery-ui.js"></script>
<script src="../plugins/timePicker.js"></script>
<script src="js/script.js"></script>
</body>

</html>
