<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Corona Warriors</title>

  
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Slick Carousel -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/plugins/slick/slick.css') }}">
  <!-- <link rel="stylesheet" href="../static/plugins/slick/slick.css"> -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/plugins/slick/slick-theme.css') }}">
  <!-- <link rel="stylesheet" href="../static/plugins/slick/slick-theme.css"> -->
  <!-- FancyBox -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/plugins/fancybox/jquery.fancybox.min.css') }}">
  <!-- <link rel="stylesheet" href="../static/plugins/fancybox/jquery.fancybox.min.css"> -->
  
  <!-- Stylesheets -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/css/style.css') }}">
  <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>


<body>
  <div class="page-wrapper">
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
    <!-- Preloader -->

  

<!--header top-->
<div class="header-top">
      <div class="container clearfix">
            <div class="top-left">
                  <!-- <h6>Opening Hours : Saturday to Tuesday - 8am to 10pm</h6> -->
            </div>
            <div class="top-right">
                  <ul class="social-links">
                        <li>
                              <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                              </a>
                        </li>
                  </ul>
            </div>
      </div>
</div>
<!--header top-->

<!--Header Upper-->
<section class="header-uper">
      <div class="container clearfix">
            <div class="logo">
                  <figure>
                        <a href="index.html">
                              <img src="../static/images/blog/logo.png" alt="">
                        </a>
                  </figure>
            </div>
            <div class="right-side">
                  <ul class="contact-info">
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-envelope-o"></i>
                              </div>
                              <strong>Email</strong>
                              <br>
                              <a href="#">
                                    <span>mani.dhawan90@gmail.com</span><br>
                                    <span>neejos@gmail.com</span>
                              </a>
                        </li>
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-phone"></i>
                              </div>
                              <strong>Call Now</strong>
                              <br>
                              <span>+ (88017) - 123 - 4567</span>
                        </li>
                  </ul>
                  <div class="link-btn">
                        <!-- <a href="#" class="btn-style-one">SIGNIN</a> -->
                        <input type=button onClick="parent.location='appointment'" value='Sign out' class="btn-style-one">
                  </div>
            </div>
      </div>
</section>
<!--Header Upper-->


<!--Main Header-->
<nav class="navbar navbar-default">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                        <li class="active">
                              <a href="profile">Profile</a>
                        </li>
                        <li>
                              <a href="about">About</a>
                        </li>
                        <li>
                              <a href="insight">Insight</a>
                        </li>
                        <li>
                              <a href="fitness">Fitness Tutorials</a>
                        </li>
                        <li>
                              <a href="remedies">Home Remedies</a>
                        </li>
                        <li>
                              <a href="Chat">Chat</a>
                        </li>
                        <li>
                              <a href="blog">Blog</a>
                        </li>
                        <li>
                              <a href="contact">Contact</a>
                        </li>
                       
                        <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#">Action</a>
                                    </li>
                                    <li>
                                          <a href="#">Another action</a>
                                    </li>
                                    <li>
                                          <a href="#">Something else here</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">Separated link</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">One more separated link</a>
                                    </li>
                              </ul>
                        </li> -->
                  </ul>
            </div>
            <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
</nav>
<!--End Main Header -->

<!--Page Title-->
<section class="page-title text-center" style="background-image:url(../images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>Hangover</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="profile.html">Profile &nbsp;/</a>
                </li>
                <li>Home Remedies</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Contact Section -->
<section class="blog-section style-four section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="left-side">
                    <div class="item-holder">
                        <div class="content-text">
                        <h3 style="color: black;">Four best ways to prevent a hangover</h3><br>
                            <h4 style="color:blue;">​​Four ways to prevent a hangover</h4>
                            <img src ="../static/images/gallery/hangover1.PNG"></img>
                            <p>One question that most people go looking out for on the web every Saturday or Sunday morning, is how to prevent yourself from the miserable hangover. Let us accept that the only way to guarantee not waking up with a hangover is by avoiding drinking too much in the first place. Yes, you read that right. You need to control your intake while partying to avoid symptoms like headache, nausea and fatigue the next morning.

                                Though the good news is there are a few other things one can do to ease the symptoms the next morning. Though we don’t promise your 100 per cent that they will not cause any hangover but it’s better than doing nothing and suffering through all the next-day awfulness.</p>
                            <!-- <div class="link-btn">
                                <a href="#" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="content-text">
                              <h4 style="color:blue;">Eat something before you start drinking alcohol</h4>
                              <img src ="../static/images/gallery/hangover2.PNG"></img>
                              <p>If you didn’t know, food absorbs alcohol. So, having something before consuming alcohol will keep alcohol you drink from being absorbed into your bloodstream too quickly, which will help cut hangover symptoms in the morning. Experts believe that foods that contain fat and protein are most effective.</p>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="content-text">
                              <h4 style="color:blue;">​Keep sipping water with alcohol</h4>
                              <img src ="../static/images/gallery/hangover3.PNG"></img>
                              <p>Gurmar contains compounds like flavonols and gurmarin, which is effective in managing blood sugar level in a person suffering from diabetes. Gurmar is an ayurvedic herb, used in treating different conditions like allergies, cough, and constipation.

                                    How to use it: Consume one teaspoon of powdered gurmar leaves along with water in the morning, about an hour before having your meal.</p>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="content-text">
                              <h4 style="color:blue;">Go for clear liquor</h4>
                              <img src ="../static/images/gallery/hangover4.PNG"></img>
                              <p>Clear liquor has fewer chemicals called congeners than the darker ones. Congeners are actually toxic substances that give you that sticky feeling after you drink alcohol.

                                Every person is sensitive to different type of congeners. For example, your body might have a stronger reaction to the congeners in wine than those in vodka, but your friend might notice the opposite. So, if you feel that a certain kind of alcohol doesn’t make you feel good, you need to make a better choice next time.</p>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="content-text">
                              <h4 style="color:blue;">​Get proper sleep on the night you get drunk</h4>
                              <img src ="../static/images/gallery/hangover5.PNG"></img>
                              <p>Alcohol disrupts your sleep and we all know how we feel when we don’t get proper sleep. Ease up on alcohol towards the end of the night, so that you give your body some time to process before you hit the bed. Having alcohol in your system might wake you up several times at night. The more quality sleep you get, the better you feel the next day. Taking a few naps the next won’t hurt either.</p>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="right-side">
                    <div class="text-title">
                        <h6>Search</h6>
                    </div>
                    <!-- <div class="search-box">
                        <form method="post" action="index.html">
                            <input type="search" name="search" placeholder="Enter to Search" required="">
                        </form>
                    </div> -->
                    <!-- <div class="categorise-menu">
                        <div class="text-title">
                            <h6>Categories</h6>
                        </div>
                        <ul class="categorise-list">
                            <li><a href="diabetes">Diabetes <span>(20)</span></a></li>
                            <li><a href="hangover">Hangover <span>(4)</span></a></li>
                            <li><a href="#">Sonogram <span>(2)</span></a></li>
                            <li><a href="#">x-ray <span>(9)</span></a></li>
                            <li><a href="#">Dental <span>(2)</span></a></li>
                        </ul>                           
                    </div> -->
                    <div class="tag-list">
                        <div class="text-title">
                            <h6>Tags</h6>
                        </div>
                        <a href="diabetes">Diabetes</a><a href="officestress">Office Stress</a>
                        <a href="hangover">Hangover</a><a href="immunitysyrup">Immunity Syrup Recipee & Benefits</a>
                        <a href="stress">Relief from stress and pain</a>
                      
                    </div>
                </div>
            </div>
        </div>                
        <div class="styled-pagination">
            <ul>
                <li><a class="prev" href="#"><span class="fa fa-angle-left" aria-hidden="true"></span></a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a class="next" href="#"><span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
            </ul>
        </div>                  
    </div>
</section>
<!-- End Contact Section -->

<!--footer-main-->
<footer class="footer-main">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="about-widget">
            <div class="footer-logo">
              <figure>
                <a href="index.html">
                  <img src="../images/logo-2.png" alt="">
                </a>
              </figure>
            </div>
            <p>Come join our community to make this world a more stronger place both Mentally and Physically.</p>
            <!-- <ul class="location-link">
              <li class="item">
                <i class="fa fa-map-marker"></i>
                <p>Modamba, NY 80021, United States</p>
              </li> -->
              <!-- <li class="item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <a href="#">
                  <p>Support@medic.com</p>
                </a>
              </li>
              <li class="item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>(88017) +123 4567</p>
              </li>
            </ul> --> 
            <ul class="list-inline social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h6>Services</h6>
          <ul class="menu-link">
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>FITNESS TUTORIALS</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>HOME REMEDIES</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>CURRENT CORONA SITUATION</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>CHAT WITH CORONA SURVIVORS</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Access to Corona Hit game</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="social-links">
            <h6>Creators</h6>
            <ul>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="../static/images/blog/post-thumb-small.jpg" alt="post-thumb" style="width: 80px;height: 80px;">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="https://www.linkedin.com/in/himani-dhawan/">Connect with Himani Dhawan</a></h4>
                    <p>Hope is the thing with feathers that perches in the soul and sings the tune without words and never stops at all.</p>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="../static/images/blog/profile.jpg" style="width: 80px;height: 80px;" alt="post-thumb">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="https://www.linkedin.com/in/neethu-john-4643331b8/">Connect with Neethu John</a>
                    </h4>
                    <p>It is not the strongest of the species that survives,Nor the most intelligent ones.It is the one that is most adaptable to the change.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <!-- <p>&copy; Copyright 2018. All Rights Reserved by -->
          <!-- <a href="index.html">Medic</a>
        </p> -->
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="about">About</a>
        </li>
        <li>
          <a href="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--End footer-main-->

</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>

<script src="../plugins/jquery.js"></script>
<script src="../plugins/bootstrap.min.js"></script>
<script src="../plugins/bootstrap-select.min.js"></script>
<!-- Slick Slider -->
<script src="../plugins/slick/slick.min.js"></script>
<!-- FancyBox -->
<script src="../plugins/fancybox/jquery.fancybox.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="../plugins/google-map/gmap.js"></script>

<script src="../plugins/validate.js"></script>
<script src="../plugins/wow.js"></script>
<script src="../plugins/jquery-ui.js"></script>
<script src="../plugins/timePicker.js"></script>
<script src="js/script.js"></script>
</body>

</html>

