<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Corona Warriors</title>

  
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Slick Carousel -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/plugins/slick/slick.css') }}">
  <!-- <link rel="stylesheet" href="../static/plugins/slick/slick.css"> -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/plugins/slick/slick-theme.css') }}">
  <!-- <link rel="stylesheet" href="../static/plugins/slick/slick-theme.css"> -->
  <!-- FancyBox -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/plugins/fancybox/jquery.fancybox.min.css') }}">
  <!-- <link rel="stylesheet" href="../static/plugins/fancybox/jquery.fancybox.min.css"> -->
  
  <!-- Stylesheets -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/css/style.css') }}">
  <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>


<body>
  <div class="page-wrapper">
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
    <!-- Preloader -->

  

<!--header top-->
<div class="header-top">
      <div class="container clearfix">
            <div class="top-left">
                  <h6>Opening Hours : Saturday to Tuesday - 8am to 10pm</h6>
            </div>
            <div class="top-right">
                  <ul class="social-links">
                        <li>
                              <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                              </a>
                        </li>
                  </ul>
            </div>
      </div>
</div>
<!--header top-->

<!--Header Upper-->
<section class="header-uper">
      <div class="container clearfix">
            <div class="logo">
                  <figure>
                        <a href="index.html">
                              <img src="../static/images/logo.png" alt="">
                        </a>
                  </figure>
            </div>
            <div class="right-side">
                  <ul class="contact-info">
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-envelope-o"></i>
                              </div>
                              <strong>Email</strong>
                              <br>
                              <a href="#">
                                    <span>mani.dhawan90@gmail.com</span><br>
                                    <span>neejos@gmail.com</span>
                              </a>
                        </li>
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-phone"></i>
                              </div>
                              <strong>Call Now</strong>
                              <br>
                              <span>+ (88017) - 123 - 4567</span>
                        </li>
                  </ul>
                  <div class="link-btn">
                        <!-- <a href="#" class="btn-style-one">SIGNIN</a> -->
                        <input type=button onClick="parent.location='appointment'" value='Sign out' class="btn-style-one">
                  </div>
            </div>
      </div>
</section>
<!--Header Upper-->


<!--Main Header-->
<nav class="navbar navbar-default">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                        <li class="active">
                              <a href="profile">Profile</a>
                        </li>
                        <li>
                              <a href="about">About</a>
                        </li>
                        <li>
                              <a href="insight">Insight</a>
                        </li>
                        <li>
                              <a href="fitness">Fitness Tutorials</a>
                        </li>
                        <li>
                              <a href="remedies">Home Remedies</a>
                        </li>
                        <li>
                              <a href="Chat">Chat</a>
                        </li>
                        <li>
                              <a href="blog">Blog</a>
                        </li>
                        <li>
                              <a href="contact">Contact</a>
                        </li>
                       
                        <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#">Action</a>
                                    </li>
                                    <li>
                                          <a href="#">Another action</a>
                                    </li>
                                    <li>
                                          <a href="#">Something else here</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">Separated link</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="#">One more separated link</a>
                                    </li>
                              </ul>
                        </li> -->
                  </ul>
            </div>
            <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
</nav>
<!--End Main Header -->

<!--Page Title-->
<section class="page-title text-center" style="background-image:url(../images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>Blog</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="profile.html">Profile &nbsp;/</a>
                </li>
                <li>Home Remedies</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Contact Section -->
<section class="blog-section style-four section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="left-side">
                    <div class="item-holder">
                        <div class="content-text">
                        <h3 style="color: black;">5 foot massages to get relief from stress and pain</h3><br>
                            <h4 style="color:blue;">These massages are excellent to get relief from pain</h4>
                            <img src ="../static/images/gallery/stress1.PNG"></img>
                            <p>Foot massage is a great way to pamper yourself and unwind after a long and tiring day. Nothing feels as satisfying and relaxing as compared to a good foot massage. But the benefits of foot massage are not limited to this alone. Science says that foot massage can also help to get relief from tension, headache, insomnia, and stress.

                                Even ancient practices belive that massaging some specific points on the foot can heal conditions affecting different parts of your body. The logic behind this is that massaging helps easy flow of energy in the body, which is called 'Chi'.
                                
                                Here are 5 massages you can do at home for some relief:</p>
                            <!-- <div class="link-btn">
                                <a href="#" class="btn-style-one">read more</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="content-text">
                              <h4 style="color:blue;">For anxiety</h4>
                              <img src ="../static/images/gallery/stress2.PNG"></img>
                              <p>You can get relief from anxiety by massaging pressure points on your foot near your toes.

                                How to do it: Curl the toes of your foot, so that a small depression is formed just below the ball of your foot. Now place your thumb on this depression and massage the area gently in a circular motion.</p>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="content-text">
                              <h4 style="color:blue;">For stress</h4>
                              <img src ="../static/images/gallery/stress3.PNG"></img>
                              <p>This massaging technique can help to get relief from tension and stress.

                                How to do it: Hold the top of your foot with one hand and the back with the other. Now gently rub the heel of the foot in a circular motion using your thumb.</p>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="content-text">
                              <h4 style="color:blue;">For headache</h4>
                              <img src ="../static/images/gallery/strerss4.PNG"></img>
                              <p>Massaging your toes can help to get relief from headache, tension, and cramps in the toes.

                                How to do it: Hold the foot with one hand, under the arch, and place the thumb of your other hand on the top of big toe. Firmly rotate the toe to one side and pull it from top to bottom. Repeat the same with the other toes of the foot.</p>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="content-text">
                              <h4 style="color:blue;">For general pain</h4>
                              <img src ="../static/images/gallery/stress5.PNG"></img>
                              <p>This simple exercise can help you get rid of any kind of body pain.

                                How to do it: Sit on a chair or sofa and place a golf or tennis ball on the floor under your foot. Roll the ball around with your foot for 3 to 5 minutes every day.
                                
                                </p>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="content-text">
                              <h4 style="color:blue;">For lower back pain</h4>
                              <img src ="../static/images/gallery/stress6.PNG"></img>
                              <p>Some studies suggest that a better way to relieve lower back pain is by reflexology than massaging the area of pain itself.

                                How to do it: You have to concentrate on the pressure points on the arches of your foot. Take a few drops of oil or lubricants in your hand and gently massage this area with your thumb. Move your thumb from your heel to the toes in a series of short strokes.</p>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="content-text">
                              <h4 style="color:blue;">Things to keep in mind:</h4>
                              <img src ="../static/images/gallery/stress6.PNG"></img>
                              <p>It is important to create a relaxing atmosphere to gain maximum benefits. First of all, clean the feet properly and pat it dry. You can use oil or lubricants for massaging your feet.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="right-side">
                    <!-- <div class="text-title">
                        <h6>Search</h6>
                    </div> -->
                    <!-- <div class="search-box">
                        <form method="post" action="index.html">
                            <input type="search" name="search" placeholder="Enter to Search" required="">
                        </form>
                    </div> -->
                    <!-- <div class="categorise-menu">
                        <div class="text-title">
                            <h6>Categories</h6>
                        </div>
                        <ul class="categorise-list">
                            <li><a href="diabetes">Diabetes <span>(20)</span></a></li>
                            <li><a href="hangover">Hangover <span>(4)</span></a></li>
                            <li><a href="#">Sonogram <span>(2)</span></a></li>
                            <li><a href="#">x-ray <span>(9)</span></a></li>
                            <li><a href="#">Dental <span>(2)</span></a></li>
                        </ul>                           
                    </div> -->
                    <div class="tag-list">
                        <div class="text-title">
                            <h6>Tags</h6>
                        </div>
                        <a href="diabetes">Diabetes</a><a href="officestress">Office Stress</a>
                        <a href="hangover">Hangover</a><a href="#">hospitality</a>
                        <a href="stress">Relief from stress and pain</a>
                        <a href="#">Medical</a>
                        <a href="#">hospitality</a>
                    </div>
                </div>
            </div>
        </div>                
        <div class="styled-pagination">
            <ul>
                <li><a class="prev" href="#"><span class="fa fa-angle-left" aria-hidden="true"></span></a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a class="next" href="#"><span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
            </ul>
        </div>                  
    </div>
</section>
<!-- End Contact Section -->

<!--footer-main-->
<footer class="footer-main">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="about-widget">
            <div class="footer-logo">
              <figure>
                <a href="index.html">
                  <img src="../images/logo-2.png" alt="">
                </a>
              </figure>
            </div>
            <p>Come join our community to make this world a more stronger place both Mentally and Physically.</p>
            <!-- <ul class="location-link">
              <li class="item">
                <i class="fa fa-map-marker"></i>
                <p>Modamba, NY 80021, United States</p>
              </li> -->
              <!-- <li class="item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <a href="#">
                  <p>Support@medic.com</p>
                </a>
              </li>
              <li class="item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>(88017) +123 4567</p>
              </li>
            </ul> --> 
            <ul class="list-inline social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h6>Services</h6>
          <ul class="menu-link">
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>FITNESS TUTORIALS</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>HOME REMEDIES</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>CURRENT CORONA SITUATION</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>CHAT WITH CORONA SURVIVORS</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Access to Corona Hit game</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="social-links">
            <h6>Creators</h6>
            <ul>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="../static/images/blog/post-thumb-small.jpg" alt="post-thumb">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="https://www.linkedin.com/in/himani-dhawan/">Connect with Himani Dhawan</a></h4>
                    <p>Hope is the thing with feathers that perches in the soul and sings the tune without words and never stops at all.</p>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="../static/images/blog/profile.jpg" style="width: 80px;height: 80px;" alt="post-thumb">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="https://www.linkedin.com/in/neethu-john-4643331b8/">Connect with Neethu John</a>
                    </h4>
                    <p>It is not the strongest of the species that survives,Nor the most intelligent ones.It is the one that is most adaptable to the change.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <!-- <p>&copy; Copyright 2018. All Rights Reserved by -->
          <!-- <a href="index.html">Medic</a>
        </p> -->
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="about">About</a>
        </li>
        <li>
          <a href="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--End footer-main-->

</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>

<script src="../plugins/jquery.js"></script>
<script src="../plugins/bootstrap.min.js"></script>
<script src="../plugins/bootstrap-select.min.js"></script>
<!-- Slick Slider -->
<script src="../plugins/slick/slick.min.js"></script>
<!-- FancyBox -->
<script src="../plugins/fancybox/jquery.fancybox.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="../plugins/google-map/gmap.js"></script>

<script src="../plugins/validate.js"></script>
<script src="../plugins/wow.js"></script>
<script src="../plugins/jquery-ui.js"></script>
<script src="../plugins/timePicker.js"></script>
<script src="js/script.js"></script>
</body>

</html>

